@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px dashed red; */
}

.background {
  background-color: #fafafa;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1388%26quot%3b)' fill='none'%3e%3cpath d='M42.02 -77.36L114.77 -35.36L114.77 48.64L42.02 90.64L-30.73 48.64L-30.73 -35.36zM42.02 174.64L114.77 216.64L114.77 300.64L42.02 342.64L-30.73 300.64L-30.73 216.64zM114.77 804.64L187.52 846.64L187.52 930.64L114.77 972.64L42.02 930.64L42.02 846.64zM187.52 678.64L260.26 720.64L260.26 804.64L187.52 846.64L114.77 804.64L114.77 720.64zM260.26 1056.64L333.01 1098.64L333.01 1182.64L260.26 1224.64L187.52 1182.64L187.52 1098.64zM333.01 -77.36L405.76 -35.36L405.76 48.64L333.01 90.64L260.26 48.64L260.26 -35.36zM405.76 804.64L478.51 846.64L478.51 930.64L405.76 972.64L333.01 930.64L333.01 846.64zM333.01 930.64L405.76 972.64L405.76 1056.64L333.01 1098.64L260.26 1056.64L260.26 972.64zM478.51 -77.36L551.26 -35.36L551.26 48.64L478.51 90.64L405.76 48.64L405.76 -35.36zM551.26 300.64L624.01 342.64L624.01 426.64L551.26 468.64L478.51 426.64L478.51 342.64zM551.26 552.64L624.01 594.64L624.01 678.64L551.26 720.64L478.51 678.64L478.51 594.64zM551.26 804.64L624.01 846.64L624.01 930.64L551.26 972.64L478.51 930.64L478.51 846.64zM624.01 174.64L696.75 216.64L696.75 300.64L624.01 342.64L551.26 300.64L551.26 216.64zM624.01 426.64L696.75 468.64L696.75 552.64L624.01 594.64L551.26 552.64L551.26 468.64zM696.75 552.64L769.5 594.64L769.5 678.64L696.75 720.64L624.01 678.64L624.01 594.64zM624.01 678.64L696.75 720.64L696.75 804.64L624.01 846.64L551.26 804.64L551.26 720.64zM696.75 1056.64L769.5 1098.64L769.5 1182.64L696.75 1224.64L624.01 1182.64L624.01 1098.64zM842.25 48.64L915 90.64L915 174.64L842.25 216.64L769.5 174.64L769.5 90.64zM769.5 174.64L842.25 216.64L842.25 300.64L769.5 342.64L696.75 300.64L696.75 216.64zM769.5 426.64L842.25 468.64L842.25 552.64L769.5 594.64L696.75 552.64L696.75 468.64zM769.5 930.64L842.25 972.64L842.25 1056.64L769.5 1098.64L696.75 1056.64L696.75 972.64zM842.25 1056.64L915 1098.64L915 1182.64L842.25 1224.64L769.5 1182.64L769.5 1098.64zM915 930.64L987.75 972.64L987.75 1056.64L915 1098.64L842.25 1056.64L842.25 972.64zM1060.49 174.64L1133.24 216.64L1133.24 300.64L1060.49 342.64L987.75 300.64L987.75 216.64zM1133.24 804.64L1205.99 846.64L1205.99 930.64L1133.24 972.64L1060.49 930.64L1060.49 846.64zM1278.74 48.64L1351.49 90.64L1351.49 174.64L1278.74 216.64L1205.99 174.64L1205.99 90.64zM1205.99 426.64L1278.74 468.64L1278.74 552.64L1205.99 594.64L1133.24 552.64L1133.24 468.64zM1278.74 804.64L1351.49 846.64L1351.49 930.64L1278.74 972.64L1205.99 930.64L1205.99 846.64zM1205.99 930.64L1278.74 972.64L1278.74 1056.64L1205.99 1098.64L1133.24 1056.64L1133.24 972.64zM1278.74 1056.64L1351.49 1098.64L1351.49 1182.64L1278.74 1224.64L1205.99 1182.64L1205.99 1098.64zM1351.49 -77.36L1424.24 -35.36L1424.24 48.64L1351.49 90.64L1278.74 48.64L1278.74 -35.36zM1424.24 48.64L1496.98 90.64L1496.98 174.64L1424.24 216.64L1351.49 174.64L1351.49 90.64zM1424.24 300.64L1496.98 342.64L1496.98 426.64L1424.24 468.64L1351.49 426.64L1351.49 342.64zM1351.49 426.64L1424.24 468.64L1424.24 552.64L1351.49 594.64L1278.74 552.64L1278.74 468.64zM1424.24 804.64L1496.98 846.64L1496.98 930.64L1424.24 972.64L1351.49 930.64L1351.49 846.64zM1424.24 1056.64L1496.98 1098.64L1496.98 1182.64L1424.24 1224.64L1351.49 1182.64L1351.49 1098.64zM1569.73 300.64L1642.48 342.64L1642.48 426.64L1569.73 468.64L1496.98 426.64L1496.98 342.64zM1496.98 426.64L1569.73 468.64L1569.73 552.64L1496.98 594.64L1424.24 552.64L1424.24 468.64zM1569.73 552.64L1642.48 594.64L1642.48 678.64L1569.73 720.64L1496.98 678.64L1496.98 594.64zM1496.98 930.64L1569.73 972.64L1569.73 1056.64L1496.98 1098.64L1424.24 1056.64L1424.24 972.64zM1642.48 174.64L1715.23 216.64L1715.23 300.64L1642.48 342.64L1569.73 300.64L1569.73 216.64zM1642.48 930.64L1715.23 972.64L1715.23 1056.64L1642.48 1098.64L1569.73 1056.64L1569.73 972.64zM1787.98 426.64L1860.72 468.64L1860.72 552.64L1787.98 594.64L1715.23 552.64L1715.23 468.64zM1860.72 552.64L1933.47 594.64L1933.47 678.64L1860.72 720.64L1787.98 678.64L1787.98 594.64zM1787.98 678.64L1860.72 720.64L1860.72 804.64L1787.98 846.64L1715.23 804.64L1715.23 720.64zM1933.47 174.64L2006.22 216.64L2006.22 300.64L1933.47 342.64L1860.72 300.64L1860.72 216.64zM1933.47 426.64L2006.22 468.64L2006.22 552.64L1933.47 594.64L1860.72 552.64L1860.72 468.64zM1933.47 678.64L2006.22 720.64L2006.22 804.64L1933.47 846.64L1860.72 804.64L1860.72 720.64zM2006.22 804.64L2078.97 846.64L2078.97 930.64L2006.22 972.64L1933.47 930.64L1933.47 846.64zM1933.47 930.64L2006.22 972.64L2006.22 1056.64L1933.47 1098.64L1860.72 1056.64L1860.72 972.64zM2006.22 1056.64L2078.97 1098.64L2078.97 1182.64L2006.22 1224.64L1933.47 1182.64L1933.47 1098.64z' stroke='rgba(5%2c 5%2c 5%2c 0.03)' stroke-width='2'%3e%3c/path%3e%3cpath d='M190.11 449.97L281.04 502.47L281.04 607.47L190.11 659.97L99.17 607.47L99.17 502.47zM462.91 922.47L553.85 974.97L553.85 1079.97L462.91 1132.47L371.98 1079.97L371.98 974.97zM735.72 134.97L826.65 187.47L826.65 292.47L735.72 344.97L644.78 292.47L644.78 187.47zM644.78 922.47L735.72 974.97L735.72 1079.97L644.78 1132.47L553.85 1079.97L553.85 974.97zM735.72 1079.97L826.65 1132.47L826.65 1237.47L735.72 1289.97L644.78 1237.47L644.78 1132.47zM1281.33 449.97L1372.26 502.47L1372.26 607.47L1281.33 659.97L1190.39 607.47L1190.39 502.47zM1645.07 449.97L1736 502.47L1736 607.47L1645.07 659.97L1554.13 607.47L1554.13 502.47zM1554.13 607.47L1645.07 659.97L1645.07 764.97L1554.13 817.47L1463.2 764.97L1463.2 659.97zM2008.81 1079.97L2099.75 1132.47L2099.75 1237.47L2008.81 1289.97L1917.88 1237.47L1917.88 1132.47z' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1388'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.header-photo {
  background-size: cover;
  background-position: center;
  background-image: url('../public/img/header-photo.jpg');
}

.flashcardBack {
  background: radial-gradient(
      circle at top left,
      transparent 9%,
      #0a675c 10%,
      #0a675c 15%,
      transparent 16%
    ),
    radial-gradient(
      circle at bottom left,
      transparent 9%,
      #0a675c 10%,
      #0a675c 15%,
      transparent 16%
    ),
    radial-gradient(
      circle at top right,
      transparent 9%,
      #0a675c 10%,
      #0a675c 15%,
      transparent 16%
    ),
    radial-gradient(
      circle at bottom right,
      transparent 9%,
      #0a675c 10%,
      #0a675c 15%,
      transparent 16%
    ),
    radial-gradient(circle, transparent 25%, #094c44 26%),
    linear-gradient(
      45deg,
      transparent 46%,
      #0a675c 47%,
      #0a675c 52%,
      transparent 53%
    ),
    linear-gradient(
      135deg,
      transparent 46%,
      #0a675c 47%,
      #0a675c 52%,
      transparent 53%
    );
  background-size: 6em 6em;
  background-color: #094c44;
  opacity: 1;
}

/** Flipping card CSS  */

.card-inner {
  transform-style: preserve-3d;
}
.card.flipped .card-inner {
  transform: rotateY(-180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(-180deg);
}
